<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>AT Searching Limits</title>

		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
<!-- This is the front page -->
				<section data-background-image="./../../img/af-title-2019.png">
				</section>


<!-- Introduction of myself -->
				<section data-background-image="./../../img/af-2019-background.png">
					
					<img src="img/avatar.jpg" alt="Avatar" class="avatarMarco">
					<p>Marco van Dam</p>
					<p>38 years young<br 
						/>Married, 1 Daughter<br 
						/>IT Chapter Lead @ ING<br 
						/>Github/marcowork
					</p>

				</section>

<!-- Introduction of ING -->

				<section data-background-image="./../../img/af-2019-background.png">
					<img src="img/ing_logo.jpg" alt="ING_logo">
				</section>

				<section data-background-image="./../../img/af-2019-background.png">
					 Lets talk numbers:

					 <table style="border-collapse: collapse; width: 100%; height: 108px;">
						<tbody>
							<tr style="height: 18px;">
							<td style="width: 28.0235%; height: 18px;">Employees:</td>
							<td style="width: 71.9765%; height: 18px;">54.000 +</td>
							</tr>
							<tr style="height: 18px;">
							<td style="width: 28.0235%; height: 18px;"><span style="color: #ff6600;"><strong>IT Engineers</strong></span></td>
							<td style="width: 71.9765%; height: 18px;"><span style="color: #ff6600;"><strong>10.000 +</strong></span></td>
							</tr>
							<tr style="height: 18px;">
							<td style="width: 28.0235%; height: 18px;">Customers:</td>
							<td style="width: 71.9765%; height: 18px;">38.3 million across the world</td>
							</tr>
							<tr style="height: 18px;">
							<td style="width: 28.0235%; height: 18px;">Countries</td>
							<td style="width: 71.9765%; height: 18px;">Over 40 countries</td>
							</tr>
						</tbody>
					</table>

					<aside class="notes">
						ING is a global bank with a strong European base. Our 54,000 employees serve around 38.4 million customers, 
						corporate clients and financial institutions in over 40 countries. Our purpose is to empower people to stay 
						a step ahead in life and in business.Our products include savings, payments, investments, loans and mortgages 
						in most of our retail markets. For our Wholesale Banking clients we provide specialised lending, tailored corporate finance, 
						debt and equity market solutions, payments & cash management and trade and treasury services.
					</aside>
				</section>

				<section data-background-image="./../../img/af-2019-background.png">
					ING locations
					<img src="img/ing-world.png" alt="Organizations">
					

					<aside class="notes">
						These are countries where we are in. As a Global company ING thrives to have local teams take ownership of their applications
						The DevOps mindset and Agile workenvironment enhances the segregated setup. Therefor Teams are the owners of their environements
						All teams (of 8 to 10 DevOps engineers) can execute their own written playbooks.  
					</aside>
				</section>


				<section data-background-image="./../../img/af-2019-background.png">

					<aside>

					</aside>
				</section>


<!-- Tower numbers -->

				<section data-background-image="./../../img/af-2019-background.png">
					Number of Organizations over time
					<img src="img/GrowthOrgs.png" alt="Organizations" class="graphs">

					<aside class="notes">
						As per today (September 2019) we have over 1000 organizations in our production environment
						in november 2018 we started a mass onboarding in a fully automated way using a playbook.
						Current number of organizations 987
						We are still onboarding and we expect over 1200 organizations in 2 tower clusters. 
					</aside>

				</section>

				<section data-background-image="./../../img/af-2019-background.png">
					Number of Playbooks executed per month
					<img src="img/GrowthExecutionPlaybook.png" alt="Organizations" class="graphs">


					<aside class="notes">
						the approximately 1000 organizations combined together produce 97000 + playbook runs per month
						which is:
						 ~ 3100 deployments per day
						 ~ 130 per hour
						 ~ 2 per minute
						 24/7
					</aside>
				</section>


<!-- This is the configuration page -->
<section data-background-image="./../../img/af-2019-background.png">
	Jinja2 template for mapping Organization to LDAP
	<pre>
		<code data-trim data-noescape class="hljs" data-line-numbers="4,8-11">
				{
					"AUTH_LDAP_ORGANIZATION_MAP": {
					  {% for  organisational_unit  in  organisational_units %}
					  "{{ organisational_unit }}": {
						"admins": [
						  "cn=Administrators,ou=Non-Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}",
						  "cn=Administrators,ou=Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}"
						],
						"remove_admins": true,
						"users": [
						  "cn=Users,ou=Non-Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}",
						  "cn=Users,ou=Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}"
						],
						"remove_users": true
					  }{{ "," if not loop.last else ''}}
					  {% endfor %}
					},
		</code>
	</pre>
</section>

<section data-background-image="./../../img/af-2019-background.png">
	Jinja2 template for mapping LDAP to team 

	<pre>
		<code data-trim data-noescape class="hljs" data-line-numbers="4,8-11">
				"AUTH_LDAP_TEAM_MAP": {
					{% for  organisational_unit  in  organisational_units %}
					"{{ organisational_unit }}": {
						"organization": "{{ organisational_unit }}",
						"users": [
						"cn=Administrators,ou=Non-Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}",
						"cn=Users,ou=Non-Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}",
						"cn=Administrators,ou=Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}",
						"cn=Users,ou=Personal Accounts,ou={{ organisational_unit }},{{ organisation_groups_base_dn }}"
						],
						"remove": true
						}{{ "," if not loop.last else ''}}
					{% endfor %}
					}
				}
			</code>
		</pre>
	</section>

	<section data-background-image="./../../img/af-2019-background.png">
		Jinja2 Result for Settings
		<pre>
			<code data-trim data-noescape class="hljs" data-line-numbers="4,8-11">
					"LIONS": {
						"organization": "LIONS",
						"users": [
							"cn=Administrators,ou=Non-Personal Accounts,ou=LIONS,ou=organisations,ou=FOO,o=Ansible Tower,
							"cn=Users,ou=Non-Personal Accounts,ou=LIONS,ou=organisations,ou=FOO,o=Ansible Tower,
							"cn=Administrators,ou=Personal Accounts,ou=LIONS,ou=organisations,o=FOO,ou=Ansible Tower,
							"cn=Users,ou=Personal Accounts,ou=LIONS,ou=organisations,ou=FOO,o=Ansible Tower
						],
						"remove": true
					}

				</code>
			</pre>
		</section>


		<section data-background-image="./../../img/af-2019-background.png" >
			<p>Code can be found here:</p>
				<table style="height: 38px; width: 591px;">
					<tbody>
						<tr>
							<td style="width: 250px;"><img src="img/Octocat.png" alt="Octocat" width="250" /></td>
							<td style="width: 468px;">&nbsp;https://github.com/ing-bank</td>
						</tr>
					</tbody>
			</table>
		</section>


<!-- This is the Thanks page -->
				<section data-background-image="./../../img/af-2019-thanks.png">
				</section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
